p{ 
    color: maroon;
    background-color: yellowgreen;

}
 /* selector -idname*/
#txt {
    color: aqua;
}
/* selector -classname*/
.txt1{
    color:whitesmoke;
    background-image: url('https://img.freepik.com/free-photo/natures-beauty-captured-colorful-flower-close-up-generative-ai_188544-8593.jpg');
    height: 200px;
    width: 200px;
    padding: 14px;
    text-align: right;
    float: left;
    margin: 25px;
}