.box{
    width:300px;
    height:200px;
    background-color: yellow;
    color: red;
    border:2px dotted black;
    margin:20px;
    /* margin-left: 50px; */
    padding:20px;
    /*padding: 20px 5px */
    /*padding: 20px 5px  10px*/
    /*padding: 20px-T 5px-R 10px-B 2px-L*/
    box-sizing: border-box;
    float: left;
    /* display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; */
}